{% extends 'base.html' %}
{% load static %}
{% block title %}Biz bilan aloqa{% endblock title %}
{% block content %}

  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>Aloqaga chiqish</h2>
            <form action="#" class="contact_form" method="POST"> {% csrf_token %}
              <input class="form-control" type="text" placeholder="Ism" name="name">
              <input class="form-control" type="email" placeholder="Email" name="email">
              <textarea class="form-control" cols="30" rows="10" placeholder="Xabar" name="message"></textarea>
              <input type="submit" value="Xabar jo'natish">
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>So'ngi yangiliklar</span></h2>
            <ul class="spost_nav">

              {% for post in posts %}
                <li>
                  <div class="media wow fadeInDown"> <a href="{% url 'detail' post.slug %}" class="media-left"> <img alt="" src="{{ post.image.url }}"> </a>
                    <div class="media-body"> <a href="single_page.html" class="catg_title">{{ post.title|truncatewords:3 }}</a> </div>
                  </div>
                </li>
              {% endfor %}

            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>

{% endblock content %}