{% extends 'base.html' %}
{% load static %}
{% block title %}{{ data_detail.title }}{% endblock title %}
{% block content %}
  <section id="contentSection container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8 ">
        <div class="container">
          <div class="single_page">
            <ol class="breadcrumb">
              <li><a href="{% url 'home' %}">Asosiy</a></li>
              <li><a href="#">{{ data_detail.category }}</a></li>
            </ol>
            <h1>{{ data_detail.title }}</h1>
            <div class="post_commentbox"> <a href=""><i class="fa fa-user"></i>Sodiq</a> <span><i class="fa fa-calendar"></i>{{ data_detail.publish_time }}</span> <a href="#"><i class="fa fa-tags"></i>{{ data_detail.category }}</a> </div>
            <div class="single_page_content"> <img class="img-center" src="{{ data_detail.image.url }}" alt="">
              <p>{{ data_detail.body }}</p><br>
            </div>
            
              {% for detail_comment in data_comment %}
                <hr>
                <div class="card shadow">
                  <div class="card-header">
                    <img style='width: 20%; height: 10rem;'  src='{{ detail_comment.user.profile.image.url }}'></img>
                    {{ detail_comment.user }}
                  </div>
                  <div class="card-body">
                    <blockquote class="mb-0">
                      <p>{{ detail_comment.comment }}</p><br>
                      <p>{{ detail_comment.time|date:"j.n.Y" }}</p>
                    </blockquote>
                  </div>
                </div>
                <hr>
              {% endfor %}
            {% if user.is_authenticated %}
              <div style='padding: 10rem;'>
                <form class='form-control' method='POST'> {% csrf_token %}
                  <div class="mb-3">
                    <textarea style='margin-left: 10rem; padding: 1rem;' name='comment' class="form-control" rows="3"></textarea>
                  </div>
                  <input type='submit'>
                </form>
              </div>
            {% endif %}
              

            </div>
            {% if user.is_authenticated  %}
              {% if user.is_staff %}
                <a class="btn btn-warning" href="{% url 'edit' data_detail.slug %}">Tahrirlash</a>
                <a class="btn btn-danger" href="{% url 'del' data_detail.slug %}">O'chirish</a>
              {% endif %}
            {% endif %}

{% endblock content %}